<div class="card mb-5 mt-5 pb-5 shadow-effect">
    <div class="card-body ms-3">
        <h4 class=" card-title mt-5 mb-5">
            Comments (15,254)
        </h4>
        <div class="comment-box mt-3">
            <h6 class="mb-0">Will Dev</h6>
            <small class="text-danger">Last Updated - june 1st, 2023</small>
            <div class="mt-3 mb-3">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi ratione doloremque animi quis
                pariatur. Mollitia maxime porro pariatur asperiores earum adipisci deserunt, quia ipsam, eaque odio
                maiores est animi excepturi!
            </div>
            <a href="#" class="mt-1">Reply</a>
            <a href="#" class="mt-1 ms-3">View reply</a>

            <hr>
        </div>
        <div class="comment-box mt-3">
            <h6 class="mb-0">Will Dev</h6>
            <small class="text-danger">Last Updated - june 1st, 2023</small>
            <div class="mt-3 mb-3">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi ratione doloremque animi quis
                pariatur. Mollitia maxime porro pariatur asperiores earum adipisci deserunt, quia ipsam, eaque odio
                maiores est animi excepturi!
            </div>
            <a href="#" class="mt-1">Reply</a>
            <a href="#" class="mt-1 ms-3">View reply</a>

            <hr>
        </div>
        <div class="comment-box mt-3">
            <h6 class="mb-0">Will Dev</h6>
            <small class="text-danger">Last Updated - june 1st, 2023</small>
            <div class="mt-3 mb-3">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi ratione doloremque animi quis
                pariatur. Mollitia maxime porro pariatur asperiores earum adipisci deserunt, quia ipsam, eaque odio
                maiores est animi excepturi!
            </div>
            <a href="#" class="mt-1">Reply</a>
            <a href="#" class="mt-1 ms-3">View reply</a>

            <hr>
        </div>
        <div class="comment-box mt-3">
            <h6 class="mb-0">Will Dev</h6>
            <small class="text-danger">Last Updated - june 1st, 2023</small>
            <div class="mt-3 mb-3">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi ratione doloremque animi quis
                pariatur. Mollitia maxime porro pariatur asperiores earum adipisci deserunt, quia ipsam, eaque odio
                maiores est animi excepturi!
            </div>
            <a href="#" class="mt-1">Reply</a>
            <a href="#" class="mt-1 ms-3">View reply</a>

            <hr>
        </div>
    </div>
</div>