/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";

@import "variables";

//// GLOBAL STYLES /////

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  color: $body-color-text;
  line-height: 1.6;
}

.site-logo {
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  background-color: $secondary-color;
  color: $primary-color;
}

.nav-link {
  color: $primary-color;
}

.shadow-effect {
  border: none;
  box-shadow: 0rem 0rem 3.3rem -1rem rgba(71, 114, 254, 0.3);
}
