@import "../../../../styles/variables";

footer {
  height: 13rem;
  padding: 1.5rem;
  background-color: $navbar-footer-color;
}

.site-logo {
  font-size: 1.2em;
}

.nav-link {
  color: $primary-color;
}
