<div class="container">
    <div class="row">
        <div class="cat col-md-12 bg-secondary-theme p-5 shadow-effect">
            <h3 class="text-center"> {{formStatus}} Categories</h3>
            <p class="text-center mb-5">You can add new categoriesfrom here..!</p>

            <form class="row form-inline text-center" #categoryForm='ngForm' (ngSubmit)="onSubmit(categoryForm)">
                <div class="form-group col-md-10">
                    <input type="text" name="category" class="form-control shadow-effect"
                        placeholder="Add New Categories" [(ngModel)]="formCategory">
                </div>
                <div class="col-md-2">
                    <button class="btn btn-block btn-info btn-theme mb-2 h-100 w-80"> {{formStatus}} Category</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row mt-5 mb-5">
        <div class="col-md-3"></div>
        <div class="col-md-6 ">
            <div class="card shadow-effect">
                <div class="card-body">
                    <table class="table row-border hover">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Category</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let category of categories | async as list; let i = index">
                                <td>{{i + 1}}</td>
                                <td> {{ category.category}} </td>
                                <td>
                                    <button class="btn btn-info btn-lg"
                                        (click)="onEdit(category.category, category.id)">Edit</button>
                                    <button class="btn btn-danger btn-lg ms-3"
                                        (click)="onDelete( category.id)">Delete</button>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>