@import '../../../styles/variables';


footer{
    height: 13rem;
    padding: 1.5rem;
    background-color: $navbar-footer-color;
    margin-top: 95vh;

}

.site-logo{
   
    font-size: 1.2em;
}

.nav-link {
    color: $primary-color;

}